body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #262cd0;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer {
    background-color: #483cee;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: white;
    margin: 0 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}
.qr{
    width: 10%;
    border-radius: 5%;
}
.logodp{
    border-radius: 100px;
    width: 5%;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .logodp {
        width: 15%;
        padding: 10px

    }
}